<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <h3>CleanersApp</h3>
    <% end %>
    <% if user_signed_in? %>
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ABOUT", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SERVICES", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACT", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FAQ", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
        <li class="nav-item dropdown">
          <%= image_tag "burger.png", class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
    <% elsif cleaner_signed_in? %>
      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "SCHEDULE", cleaner_availabilities_path(current_cleaner), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SETTINGS", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "CONTACT", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "FAQ", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
        <li class="nav-item dropdown">
          <%= image_tag "burger.png", class: "dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cleaners Login", new_cleaner_session_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
