<div class="appointment-container">
  <h1>Make a Booking</h1>
  <h3>Fill out the form below to book one of our services</h3>
  <div class="appointment-form" data-controller='cleanersappointments time-and-price-estimations'>

    <%= simple_form_for @appointment, data: { controller: 'flatpickr end-date-calculation' } do |f| %>

      <%# ///////////////////// Service Part of the form //////////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container">
        <div class="app-form-text">
          <h4>Service</h4>
        </div>
        <div class="app-form-form">
          <%= f.input :pack, collection: ["Check in/out", "Cleaning", "Check in/out & Cleaning"], as: :radio_buttons, checked: "Check in/out" %>
        </div>
      </div>

      <%# /////////////////// Check in/out Part of the form ///////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container">
        <div class="app-form-text">
          <h4>Check in/out</h4>
          <p>Please provide the following details</p>
        </div>
        <div class="app-form-form">
          <%= f.input :checkin_type, collection: ["Check in", "Check out", "Check in & out"], as: :radio_buttons, checked: "Check in" %>

          <div class="app-form-checkin-container">
            <div class="app-form-checkin">
              <%= f.input :checkin_start_time, as: :string, input_html: { data: { flatpickr_target: "checkinStartTime", cleanersappointments_target: "checkinStartDate", end_date_calculation_target: "checkinStartTime", action: "change->cleanersappointments#updateCheckinCleaners change->end-date-calculation#updateCheckinEndTime" } } %>

              <%= f.input :checkin_end_time, as: :string, input_html: { data: { flatpickr_target: "checkinEndTime", cleanersappointments_target: "checkinEndDate", end_date_calculation_target: "checkinEndTime" }, id: 'checkin_end_time' } %>

              <%= f.input :checkin_cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "checkinCleanerList", action: "change->cleanersappointments#updateSelectedCheckinCleaner" } }, label: "Enter dates to choose a cleaner" %>

              <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCheckinCleaner">

              </div>
            </div>

            <div class="app-form-checkout">
              <%= f.input :checkout_start_time, as: :string, input_html: { data: { flatpickr_target: "checkoutStartTime", cleanersappointments_target: "checkoutStartDate", end_date_calculation_target: "checkoutStartTime", action: "change->cleanersappointments#updateCheckoutCleaners change->end-date-calculation#updateCheckoutEndTime" } } %>

              <%= f.input :checkout_end_time, as: :string, input_html: { data: { flatpickr_target: "checkoutEndTime", cleanersappointments_target: "checkoutEndDate", end_date_calculation_target: "checkoutEndTime" }, id: 'checkout_end_time' } %>

              <%= f.input :checkout_cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "checkoutCleanerList", action: "change->cleanersappointments#updateSelectedCheckoutCleaner" } }, label: "Enter dates to choose a cleaner" %>

              <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCheckoutCleaner">

              </div>
            </div>
          </div>

        </div>
      </div>

      <%# ///////////////// Cleaning Details Part of the form /////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container">
        <div class="app-form-text">
          <h4>Cleaning Details</h4>
          <p>Please provide the following details</p>
        </div>
        <div class="app-form-form">
          <%= f.input :rooms, collection: [1, 2, 3, 4, 5, 6], as: :radio_buttons, input_html: { data: { time_and_price_estimations_target: "rooms", action: "change->time-and-price-estimations#updateTime" } }, checked: 1 %>

          <%= f.input :service, collection: ["Basic", "Medium", "Premium"], as: :radio_buttons, input_html: { data: { time_and_price_estimations_target: "service", action: "change->time-and-price-estimations#updateTime" } }, checked: "Basic" %>

          <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime", cleanersappointments_target: "startDate", end_date_calculation_target: "startTime", action: "change->cleanersappointments#updateCleaners change->end-date-calculation#updateEndTime" } } %>

          <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime", cleanersappointments_target: "endDate", end_date_calculation_target: "endTime" }, id: 'end_time' } %>

          <%= f.input :estimated_time, collection: [""], input_html: { hidden: "hidden" , data: { time_and_price_estimations_target: "estimatedTime" } } %>
          <div class="time-estimation">
            <h5 data-time-and-price-estimations-target="duration" data-end-date-calculation-target="duration"></h5>
          </div>

          <%= f.input :price, collection: [""], input_html: { hidden: "hidden" , data: { time_and_price_estimations_target: "estimatedPrice" } } %>

          <div class="price-estimation">
            <h5 data-time-and-price-estimations-target="price"></h5>
          </div>

          <%= f.input :cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "cleanerList", action: "change->cleanersappointments#updateSelectedCleaner" } }, label: "Enter dates to choose a cleaner" %>

          <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCleaner">

          </div>
        </div>
      </div>

      <%# ////////////////////// Submit Part of the form //////////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <%= f.submit 'Schedule your appointment' %>

    <% end %>
  </div>
</div>
