<div class="appointment-container">
  <h1>Make a Booking</h1>
  <h3>Fill out the form below to book one of our services</h3>
  <div class="appointment-form" data-controller='cleanersappointments'>
    <%= simple_form_for @appointment, data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :rooms, collection: [1, 2, 3, 4, 5, 6], as: :radio_buttons, input_html: { class: 'rooms-input' }, checked: 1 %>
      <%= f.input :service, collection: ["Basic", "Medium", "Premium"], as: :radio_buttons, input_html: { class: 'service-input '}, checked: "Basic" %>
      <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime", cleanersappointments_target: "startDate", action: "change->cleanersappointments#updateCleaners" } } %>
      <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime", cleanersappointments_target: "endDate", action: "change->cleanersappointments#updateCleaners" }, id: 'end_time' } %>
      <label for="appointment_duration">Duration</label>
      <input type="text" name="appointment[duration]" data-action="change->cleanersappointments#updateCleaners" id="appointment_duration">
      <%#= f.select :cleaner, input_html: { data: { cleanersappointments_target: "cleanerList" } } %>
      <label for="appointment_cleaner_id">Cleaner</label>
      <select name="appointment[cleaner_id]" id="appointment_cleaner_id" data-cleanersappointments-target="cleanerList"></select>
      <%= f.submit 'Schedule your appointment' %>
    <% end %>
  </div>
</div>
