<div class="appointment-container">
  <h1>Make a Booking</h1>
  <h3>Fill out the form below to book one of our services</h3>
  <div class="appointment-form" data-controller='cleanersappointments time-and-price-estimations'>

    <%= simple_form_for @appointment, data: { controller: 'flatpickr end-date-calculation formparts checkinparts' } do |f| %>

      <%# ///////////////////// Service Part of the form //////////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container">
        <div class="app-form-text">
          <h2>Service</h2>
        </div>
        <div class="app-form-form">
          <%= f.input :pack, collection: ["Check in/out", "Cleaning", "Both"], as: :radio_buttons, checked: "Check in/out", input_html: { data: { formparts_target: "service", action: "change->formparts#toggleHidden" } } %>
        </div>
      </div>

      <%# /////////////////// Check in/out Part of the form ///////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container" data-formparts-target="checkinPart">
        <div class="app-form-text">
          <h2>Check in/out</h2>
          <p>Please provide the following details</p>
        </div>
        <div class="app-form-form">
          <%= f.input :check_type, collection: ["Check in", "Check out", "Check in & out"], as: :radio_buttons, checked: "Check in", input_html: { data: { checkinparts_target: "service", action: "change->checkinparts#toggleHidden" } } %>

          <div class="app-form-checkin-container" data-checkinparts-target="container">
            <div class="app-form-checkin" data-checkinparts-target="checkin">
              <%= f.input :checkin_start_time, as: :string, input_html: { data: { flatpickr_target: "checkinStartTime", end_date_calculation_target: "checkinStartTime",cleanersappointments_target: "checkinStartDate", action: "change->cleanersappointments#updateCheckinCleaners change->end-date-calculation#updateCheckinEndTime" } } %>

              <%= f.input :checkin_end_time, as: :string, input_html: { data: { flatpickr_target: "checkinEndTime", cleanersappointments_target: "checkinEndDate", end_date_calculation_target: "checkinEndTime" }, id: 'checkin_end_time' } %>

              <%= f.input :checkin_cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "checkinCleanerList", action: "change->cleanersappointments#updateSelectedCheckinCleaner" } }, label: "Enter dates to choose a cleaner" %>

              <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCheckinCleaner">

              </div>
            </div>

            <div class="app-form-checkout" data-checkinparts-target="checkout">
              <%= f.input :checkout_start_time, as: :string, input_html: { data: { flatpickr_target: "checkoutStartTime", cleanersappointments_target: "checkoutStartDate", end_date_calculation_target: "checkoutStartTime", action: "change->cleanersappointments#updateCheckoutCleaners change->end-date-calculation#updateCheckoutEndTime" } } %>

              <%= f.input :checkout_end_time, as: :string, input_html: { data: { flatpickr_target: "checkoutEndTime", cleanersappointments_target: "checkoutEndDate", end_date_calculation_target: "checkoutEndTime" }, id: 'checkout_end_time' } %>

              <%= f.input :checkout_cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "checkoutCleanerList", action: "change->cleanersappointments#updateSelectedCheckoutCleaner" } }, label: "Enter dates to choose a cleaner" %>

              <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCheckoutCleaner">

              </div>
            </div>
          </div>
          <div class="app-form-checkin-price">
            <h5>Estimated time: <span data-checkinparts-target="time"></span></h5>
            <h5>Price: <span data-checkinparts-target="price"></span></h5>
          </div>
        </div>
      </div>

      <%# ///////////////// Cleaning Details Part of the form /////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <div class="app-form-container" data-formparts-target="cleaningPart">
        <div class="app-form-text">
          <h2>Cleaning Details</h2>
          <p>Please provide the following details</p>
        </div>
        <div class="app-form-form">
          <%= f.input :rooms, collection: [1, 2, 3, 4, 5, 6], as: :radio_buttons, input_html: { data: { time_and_price_estimations_target: "rooms", action: "change->time-and-price-estimations#updateTime" } }, checked: 1 %>

          <%= f.input :service, collection: ["Basic", "Medium", "Premium"], as: :radio_buttons, input_html: { data: { time_and_price_estimations_target: "service", action: "change->time-and-price-estimations#updateTime" } }, checked: "Basic" %>

          <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime", cleanersappointments_target: "startDate", end_date_calculation_target: "startTime", action: "change->cleanersappointments#updateCleaners change->end-date-calculation#updateEndTime" } } %>

          <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime", cleanersappointments_target: "endDate", end_date_calculation_target: "endTime" }, id: 'end_time' } %>

          <%= f.input :estimated_time, collection: [""], input_html: { hidden: "hidden" , data: { time_and_price_estimations_target: "estimatedTime" } } %>
          <div class="time-estimation">
            <h5 data-time-and-price-estimations-target="duration" data-end-date-calculation-target="duration"></h5>
          </div>

          <%= f.input :price, collection: [""], input_html: { hidden: "hidden" , data: { time_and_price_estimations_target: "estimatedPrice" } } %>

          <div class="price-estimation">
            <h5 data-time-and-price-estimations-target="price"></h5>
          </div>

          <%= f.input :cleaner_id, collection: [""], input_html: { data: { cleanersappointments_target: "cleanerList", action: "change->cleanersappointments#updateSelectedCleaner" } }, label: "Enter dates to choose a cleaner" %>

          <div class="selected-cleaner-container" data-cleanersappointments-target="selectedCleaner">

          </div>
        </div>
      </div>

      <%# ////////////////////// Submit Part of the form //////////////////// %>
      <%# /////////////////////////////////////////////////////////////////// %>
      <%= f.submit 'BOOK', class: "submit-form-button" %>

    <% end %>
  </div>
</div>
