<div class="availabilities-container">
  <%= week_calendar(events: @availabilities, end_attribute: :end_time) do |date, availabilities| %>
    <%= date %>

    <% availabilities.each do |availability| %>
      <% if availability.attributes.keys.include?("user_id") %>
        <div class="appointment">
          <p><%= availability.start_time.strftime("%k:%M") %>
          <p> - </p>
          <p><%= availability.end_time.strftime("%k:%M") %></p>
        </div>
      <% else %>
        <div class="availability">
          <p><%= availability.start_time.strftime("%k:%M") %>
          <p> - </p>
          <p><%= availability.end_time.strftime("%k:%M") %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
